USE [master]
GO
/****** Object:  Database [Точка проката]    Script Date: 11.05.2023 15:28:00 ******/
CREATE DATABASE [Точка проката]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Точка проката', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Точка проката.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Точка проката_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Точка проката_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Точка проката].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Точка проката]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 11.05.2023 15:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[ID] [float] NULL,
	[Код заказа] [nvarchar](255) NULL,
	[Дата создания] [datetime] NULL,
	[Время заказа] [datetime] NULL,
	[Код клиента] [float] NULL,
	[Услуги] [float] NULL,
	[Статус] [nvarchar](255) NULL,
	[Дата закрытия] [datetime] NULL,
	[Время проката] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 11.05.2023 15:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[ФИО] [nvarchar](255) NULL,
	[Код клиента] [float] NULL,
	[Паспортные данные] [nvarchar](255) NULL,
	[Дата рождения] [datetime] NULL,
	[Адрес] [nvarchar](255) NULL,
	[e-mail] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Отчеты]    Script Date: 11.05.2023 15:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Отчеты](
	[Номер отчета] [int] NOT NULL,
	[Количество оказанных услуг] [int] NULL,
	[Количество заказов] [int] NULL,
 CONSTRAINT [PK_Отчеты] PRIMARY KEY CLUSTERED 
(
	[Номер отчета] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 11.05.2023 15:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[Должность] [nvarchar](50) NULL,
	[ФИО] [nvarchar](50) NULL,
	[Код сотрудника] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги]    Script Date: 11.05.2023 15:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги](
	[ID] [float] NULL,
	[Наименование услуги] [nvarchar](255) NULL,
	[Код услуги] [nvarchar](255) NULL,
	[Стоимость, руб#  за час ] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Заказы] ([ID], [Код заказа], [Дата создания], [Время заказа], [Код клиента], [Услуги], [Статус], [Дата закрытия], [Время проката]) VALUES (1, N'45462526/12.03.2022', CAST(N'2022-03-12T00:00:00.000' AS DateTime), CAST(N'1899-12-30T09:10:00.000' AS DateTime), 45462526, 34, N'Новая', NULL, N'120 минут')
INSERT [dbo].[Заказы] ([ID], [Код заказа], [Дата создания], [Время заказа], [Код клиента], [Услуги], [Статус], [Дата закрытия], [Время проката]) VALUES (2, N'45462527/13.03.2022', CAST(N'2022-03-13T00:00:00.000' AS DateTime), CAST(N'1899-12-30T10:10:00.000' AS DateTime), 45462527, 98, N'В прокате', NULL, N'600 минут')
INSERT [dbo].[Заказы] ([ID], [Код заказа], [Дата создания], [Время заказа], [Код клиента], [Услуги], [Статус], [Дата закрытия], [Время проката]) VALUES (3, N'45462528/14.03.2022', CAST(N'2022-03-14T00:00:00.000' AS DateTime), CAST(N'1899-12-30T11:10:00.000' AS DateTime), 45462528, 92, N'В прокате', NULL, N'2 часа')
GO
INSERT [dbo].[Клиенты] ([ФИО], [Код клиента], [Паспортные данные], [Дата рождения], [Адрес], [e-mail], [password]) VALUES (N'Фролов Андрей Иванович', 45462526, N'Серия 1180 Номер 176596', CAST(N'2001-07-14T00:00:00.000' AS DateTime), N'344288, г. Москва, ул. Чехова, 1, кв. 34', N'gohufreilagrau-3818@yopmail.com', N'cl12345')
INSERT [dbo].[Клиенты] ([ФИО], [Код клиента], [Паспортные данные], [Дата рождения], [Адрес], [e-mail], [password]) VALUES (N'Николаев Даниил Всеволодович', 45462527, N'Серия 2280 Номер 223523', CAST(N'2001-02-10T00:00:00.000' AS DateTime), N'614164, г. Москва, ул. Степная, 30, кв. 75', N'xawugosune-1385@yopmail.com', N'cl12346')
INSERT [dbo].[Клиенты] ([ФИО], [Код клиента], [Паспортные данные], [Дата рождения], [Адрес], [e-mail], [password]) VALUES (N'Снегирев Макар Иванович', 45462528, N'Серия 4560 Номер 354155', CAST(N'1998-05-21T00:00:00.000' AS DateTime), N'394242, г. Москва, ул. Коммунистическая, 43, кв. 57', N'satrahuddusei-4458@yopmail.com', N'cl12347')
GO
INSERT [dbo].[Услуги] ([ID], [Наименование услуги], [Код услуги], [Стоимость, руб#  за час ]) VALUES (336, N'Прокат велосипеда', N'8HFJHG443', 1000)
INSERT [dbo].[Услуги] ([ID], [Наименование услуги], [Код услуги], [Стоимость, руб#  за час ]) VALUES (353, N'Прокат шлема', N'87FDJKHJ', 400)
INSERT [dbo].[Услуги] ([ID], [Наименование услуги], [Код услуги], [Стоимость, руб#  за час ]) VALUES (31, N'Прокат набора защитного оборудования', N'JUR8R', 1000)
GO
USE [master]
GO
